body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  text-align: center;
  justify-content: center;
}

.pets-header {
  display: flex;
  text-align: center;
  justify-content: center;
}

tr {
  display: flex !important;
  flex-direction: row !important;
  text-align: center;
  justify-content: space-between; 
  text-align: center;
}

.pages {
  margin-top: 30px !important;
}

#center-buttons {
  display: flex;
  grid-auto-flow: row;
  justify-content: center;
  margin: 20px !important;
  /* margin: 50%, 50%; */
}

td {
  width: 33%;
}


/* .status {
  margin-left: 10px;
} */

/* .datatable {
  display: flex;
  flex-direction: row;
} */

/* table {
  width: 100% !important;
} */

/* i {
  margin-right: 20px;
} */


